[submodule "2-NaiveReceiver/lib\\forge-std"]
	path = 2-NaiveReceiver/lib\\forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2-NaiveReceiver/lib\\openzeppelin-contracts"]
	path = 2-NaiveReceiver/lib\\openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "2-NaiveReceiver/lib\\solady"]
	path = 2-NaiveReceiver/lib\\solady
	url = https://github.com/Vectorized/solady
[submodule "3-Truster/lib\\forge-std"]
	path = 3-Truster/lib\\forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "3-Truster/lib\\openzeppelin-contracts"]
	path = 3-Truster/lib\\openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "3-Truster/lib\\solmate"]
	path = 3-Truster/lib\\solmate
	url = https://github.com/transmissions11/solmate
[submodule "4-SideEntrance/lib\\forge-std"]
	path = 4-SideEntrance/lib\\forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4-SideEntrance/lib\\solmate"]
	path = 4-SideEntrance/lib\\solmate
	url = https://github.com/transmissions11/solmate
[submodule "4-SideEntrance/lib\\solady"]
	path = 4-SideEntrance/lib\\solady
	url = https://github.com/Vectorized/solady
