[submodule "2-NaiveReceiver/lib\\forge-std"]
	path = 2-NaiveReceiver/lib\\forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2-NaiveReceiver/lib\\openzeppelin-contracts"]
	path = 2-NaiveReceiver/lib\\openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "2-NaiveReceiver/lib\\solady"]
	path = 2-NaiveReceiver/lib\\solady
	url = https://github.com/Vectorized/solady
